@using Microsoft.AspNetCore.Identity
@using PlanYonetimAraclari.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    var user = await UserManager.GetUserAsync(User);
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle me-1"></i>
            @(user?.FullName ?? User.Identity?.Name)
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="#"><i class="fas fa-user-cog me-2"></i>Profil</a></li>
            <li><a class="dropdown-item" href="#"><i class="fas fa-cog me-2"></i>Ayarlar</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form class="form-inline" action="/Account/Logout" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt me-2"></i>Çıkış Yap
                    </button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item me-2">
        <a class="btn btn-outline-primary" href="/Account/Login">
            <i class="fas fa-sign-in-alt me-1"></i>Giriş Yap
        </a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary" href="/Account/Register">
            <i class="fas fa-user-plus me-1"></i>Ücretsiz Başla
        </a>
    </li>
}
</ul> 